#set($searcher=$request.searcher)
#set($params=$request.params)
#set($clusters = $response.response.clusters)
#set($mltResults = $response.response.get("moreLikeThis"))
#set($annotate = $params.get("annotateBrowse"))
#parse('query.vm')

<div class="pagination">
  <span><span class="results-found">$page.results_found</span> tulosta. Aika: ${response.responseHeader.QTime} ms.</span>
  Sivu <span class="page-num">$page.current_page_number</span> / <span
        class="page-count">$page.page_count</span>
</div>

<div class="error">
  #if(${response.response.error.code})
    <h1>ERROR ${response.response.error.code}</h1>
    ${response.response.error.msg}
  #end
</div>

<div class="results">
  #foreach($doc in $response.results)
    #set($docId = $doc.getFieldValue('id'))
    <div class="result-document">
      #parse("richtext-doc.vm")
    </div>
  #end
</div>

<div class="pagination">
  #link_to_previous_page("Edellinen")
  <span class="results-found">$page.results_found</span> tulosta.
  Sivu <span class="page-num">$page.current_page_number</span> / <span
        class="page-count">$page.page_count</span>
  #link_to_next_page("Seuraava")
  <br/>
</div>
